.title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background-color: #131324;
  height: 100vh;
  width: 100vw;

}
h1{
    color: white;
}
.avatars {
    display: flex;
    gap: 2rem;
}

.avatar {
    border: 0.4rem solid transparent;
    padding: 0.4rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
    img {
      height: 6rem;
      transition: 0.5s ease-in-out;
    }
    .selected {
        border: 0.4rem solid #360bae;
      }
@media (max-width: 768px) {
     h1{
      text-align: center;
    }
    h3{
      text-align: center;
      font-size: 15px;
    }
  }
  