
.parent{
    display: grid;
    grid-template-rows: 10% 75% 15%;
    overflow: hidden;
    height: auto;
}
.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
  
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
    scrollbar-width: thin;
  }
    
    .contact {
      background-color: #ffffff34;
      min-height: 5rem;
      cursor: pointer;
      width: 90%;
      border-radius: 0.2rem;
      padding: 0.4rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      transition: 0.5s ease-in-out;
    }
      .avatars img {
        
          height: 3rem;
        }
    
      .username h3{
         
          color: white;
        }
      
    
    .selected {
      background-color: #583ece;
    }
  

  .current-user {
    background-color: #0d0d30;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
    .avatars img {
       
        height: 4rem;
        /* max-inline-size: 100%; */
      
    }
    .username h2 {
        color: white;
      }
    
      @media (max-width: 768px) {
        .brand {
          justify-content: flex-start;
      }
      .brand h1 {
        font-size: 1.2rem;
      }
      .current-user{
        flex-direction: column;
      }
      .contact{
        display: block;
        min-height: 6rem;;
      }
    }